html, body {
  padding: 0;
  margin: 0;
}

.main-header {
  position: relative;
  height: 100vh;
  background-image: url("../images/cropped4.jpg");
  background-size: cover;
  background-position: top;
}

/* navbar stuff ################################### */
.main-nav {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.main-nav li {
  display: inline-block;
  margin: 1.8em 5%;
  position: relative;
}

.main-nav li:first-child {
  margin-left: 2%;
  margin-right: 15%;
}

.main-nav li:last-child {
  margin-left: 15%;
  margin-right: 2%;
}

.main-nav a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.3em;
}
 
.square-brackets::before {
  position: absolute;
  left: -0.3em;
  color: rgba(255, 255, 255, 0);
  content: "[";
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.square-brackets::after {
  position: absolute;
  right: -0.3em;
  color: rgba(255, 255, 255, 0);
  content: "]";
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.square-brackets:hover::before {
  color: rgba(255, 255, 255, 1);
  left: -0.7em;
  content: "[";
  transition-duration: 0.3s;
}

.square-brackets:hover::after {
  color: rgba(255, 255, 255, 1);
  right: -0.7em;
  content: "]";
  transition-duration: 0.3s;
}

.underline {
  top: 100%;
  height: 1px;
  margin: 0 -10%;
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.3s;
}

.main-nav li:last-child:hover .underline {
  height: 1px;
  transform: scale(1.2, 1);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* main heading #################################*/
.header-container {
  height: 80vh;
  width: 60%;
  position: absolute;
  right: 0;
  /* display: flex;
  flex-direction: column;
  justify-items: center; */
}

.main-heading {
  text-transform: capitalize;
  text-align: center;
  font-size: 2.8em;
  color: white;
}

.categories-grid {
  display: grid;
  /* justify-content: space-around; */
  grid-template-columns: 200px 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* overflow: hidden; */
}

.category {
  margin: 0;
  width: 150px;
  height: 0;
  padding-bottom: ;
  background-image: url("../images/artificialnteligence.jpg");
  background-position: center;
  background-size: cover;
}

.category:hover {
  background-color: red;
}

/* about sectoin ########################## */
/* .about {
  display: fl80
  flex-wrap: wrap;
} */

.achievments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.achievment {
  margin: 2em;
  position: relative;
}

.outer-romb {
  width: 4em;
  height: 4em;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.inner-romb {
  width: 75%;
  height: 75%;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  /* position: absolute; */
  position: relative;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.achievment:hover .outer-romb {
  transform: rotate(-60deg);
  transition-duration: 0.3s;
}

.achievment-name {
  position: absolute;
  text-align: center;
}


/* experiment ######################################*/
.about {
  /* min-width: 80px;
  max-width: 1200px; */
  margin: auto;
}
.background, .flex-container {
  min-width: 80px;
  max-width: 600px;
}

.contacts {
  display: flex;
}

/* .contacts ul {
  padding: 0;
} */

.display-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

