:root {
  --skill-highlight-color: #333333;
}

html, body {
  padding: 0;
  margin: 0;
}

/* nabbar */

header {
  color: #bbb;
  position: relative;
  height: 100vh;
  background-image: url("../images/cropped4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.navbar {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  margin: 3vh 5%;
  text-transform: capitalize;
}

.navbar a {
  color: #bbb;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  text-underline-position: below;
  text-decoration-color: white;
  transition-duration: 1s;
}

.navbar li:first-child {
  margin-left: 2%;
  margin-right: 15%;
}

.navbar li:last-child{
  margin-right: 2%;
  margin-left: 15%;
}

/* main headings */

.strange-container {
  width: 50%;
  position: absolute;
  right: 0;
}
.main-heading{
  /* position: absolute;
  right: 0; */
  text-align: center;
}

.projects {
  display: grid;
  justify-content: center;
  grid-template-rows: 140px 140px;
  grid-template-columns: 140px 140px;
  grid-gap: 40px;
}

.grid-item {
  width: 120px;
  height: 120px;
  margin: 20px;
  background-color: grey;
  outline-color: black;
  outline-width: 1px;
  outline-offset: 0;
}

.grid-item:hover {
  /* border: 30px solid grey; */
  transform: rotateX(180deg);
  /* transform: rotate(45deg); */
  margin: 0;
  border: 20px solid #333;
  background-color: #333;
  /* width: 150px;
  height: 150px; */
  /* transition-property: background-color width height; */
  transition-timing-function: ease-in;
  transition-duration: 1s;
}


/* .about, .skills ul, .projects ul, .contacts{
  display: flex;
  flex-wrap: wrap;
} */

.about-section {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}

.about-section-part-one p {
  width: 50%;
}

.main-content {
  padding: 0 10%;
}
.about {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.about-div {
  flex: 1;
}


/* Achievments */
.achievements {
  display: flex;
  flex-wrap: wrap;
}

.achievements li {
  /* margin: 20px; */
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.achievement-score {
  display: flex;
}

.outer-romb {
  display: flex;
  align-items: center;
  align-content: center;
  border: 1px solid rgb(37, 158, 37);
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
}

.inner-romb {
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
  border: 1px solid rgb(37, 158, 37);
  width: 30px;
  height: 30px;
}

.inner-romb div {
  margin: auto;
  transform: rotate(-45deg);
}

.outer-romb:hover {
  transform: rotate(25deg);
  transition: 1s;
  transition-timing-function: ease;
  transition-delay: 0.15s;
}
/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.skill {
  display: flex;
  flex-wrap: wrap;
}


.outer-circle {
  display: flex;
  align-items: center;
  height: 4em;
  width: 4em;
  border: 1px solid black;
  border-radius: 50%;
}

.inner-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  border: 1px solid grey;
  border-radius: 50%;
  margin: auto;
  background-color: white;
  z-index: 1;
}

.outer-circle:hover {
  transition-duration: 0.25s;
  background: green;
}

.inner-circle div {
  align-self: center;
  vertical-align: middle;
}

.skill-name {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 1rem;
}
