html, body {
  padding: 0;
  margin: 0;
}


.main-header {
  position: relative;
  height: 100vh;
  background-image: url("../images/cropped4.jpg");
  background-size: cover;
  background-position: top;
}

/* navbar stuff ################################### */
.main-nav {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.main-nav li {
  display: inline-block;
  margin: 1.8em 5%;
  position: relative;
}

.main-nav li:first-child {
  margin-left: 2%;
  margin-right: 15%;
}

.main-nav li:last-child {
  margin-left: 15%;
  margin-right: 2%;
}

.main-nav a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.3em;
}
 
.square-brackets::before {
  position: absolute;
  left: -0.3em;
  color: rgba(255, 255, 255, 0);
  content: "[";
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.square-brackets::after {
  position: absolute;
  right: -0.3em;
  color: rgba(255, 255, 255, 0);
  content: "]";
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.square-brackets:hover::before {
  color: rgba(255, 255, 255, 1);
  left: -0.7em;
  content: "[";
  transition-duration: 0.3s;
}

.square-brackets:hover::after {
  color: rgba(255, 255, 255, 1);
  right: -0.7em;
  content: "]";
  transition-duration: 0.3s;
}

.underline {
  top: 100%;
  height: 1px;
  margin: 0 -10%;
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.3s;
}

.main-nav li:last-child:hover .underline {
  height: 1px;
  transform: scale(1.2, 1);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* main heading #################################*/
.header-container {
  height: 80vh;
  width: 60%;
  position: absolute;
  right: 0;
  /* display: flex;
  flex-direction: column;
  justify-items: center; */
}

.main-heading {
  text-transform: capitalize;
  text-align: center;
  font-size: 2.8em;
  color: white;
}

.categories-grid {
  display: grid;
  /* justify-content: space-around; */
  grid-template-columns: 200px 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* overflow: hidden; */
}

.category {
  margin: 0;
  width: 150px;
  height: 0;
  padding-bottom: ;
  background-image: url("../images/artificialnteligence.jpg");
  background-position: center;
  background-size: cover;
}

.category:hover {
  background-color: red;
}

.achievments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.achievment {
  margin: 2em;
  position: relative;
}

.outer-romb {
  width: 4em;
  height: 4em;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.inner-romb {
  width: 75%;
  height: 75%;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  /* position: absolute; */
  position: relative;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.achievment:hover .outer-romb {
  transform: rotate(-60deg);
  transition-duration: 0.3s;
}

.achievment-name {
  position: absolute;
  text-align: center;
}

/* about sectoin */
.section-header {
  max-width: 1200px;
  margin: 1.5em auto 0;
  text-transform: capitalize;
}

.background, .flex-container {
  min-width: 80px;
  max-width: 600px;
}

.personal {
  width: 100%;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* box-sizing: content-box; */
}

@media (max-width: 1216px) {
  .section-header {
    width: 600px;
  }
}

/* skills section */

.skills {
  width: 600px;
  margin: auto;
}

@media (min-width: 1217px) {
  .skills {
    width: 1200px;
  }
}

.skills ul {
  display: flex;
  justify-content: space-between;
}

.outer-circle {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition-duration: 0.3s;
  background-color: white;
}

.outer-circle:hover {
  background-color: rgba(34, 155, 34, 0.5);
  transition-duration: 0.3s;
}

.inner-circle {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
.main-footer {
  height: 10%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-bottom: 0;
}

/* Projects */
.projects {
  width: 600px;
  margin: auto;
}

@media (min-width: 1217px) {
  .projects {
    width: 1200px;
  }
}

.projects ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 0;
  margin: 0;
}

.projects li {
  width: 25%;
  height: 25%;
  position: relative;
  box-sizing: border-box;
}

.projects li::after {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}

.projects li:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
}

.projects div {
  color: white;
  opacity: 0;
  width: 100%;
  top: calc(50% - 16px);
  position: absolute;
  text-align: center;
  z-index: 1;
  transition-duration: 0.5s;
}

.projects a {

  display: inline-block;
  color: white;
  text-decoration: none;
}

.projects li:hover div {
  opacity: 1;
  transition-duration: 0.5s;
}
 
.projects img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.socials {
  list-style-type: none;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials li {
  width: fit-content;
}

.socials li::after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.socials li:hover::after {
  transform: scale(1.15);
}

.quote {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.contacts .quote img {
  display: block;
  width: 6em;
}

.contacts q {
  align-self: center;
}
